<navbar> </navbar>
<div class="container margin-top-54" >
  <h3>Change Password</h3>
  <form name="edituserForm" class="col-sm-12" ng-class="{ 'has-error': vm.failed }" novalidate autocomplete="off">
    <p class="help-block" ng-if="vm.failed" >
      Something went wrong, please try again or contact administrator.
    </p>
    <!-- <p class="help-block" ng-if="vm.isfirstTimeLogin" >
      You need to change your password to continuous with us.
    </p> -->
    <div class="row" ng-if="vm.isfirstTimeLogin">
      <div class="col-md-6">
        <div class="alert alert-danger"  >
          <strong>Hello!</strong> You need to change your password to continuous with us.
        </div>
      </div>
    </div>
    <!-- <div class="row" ng-if="vm.isuser" >
      <div class="col-sm-6">
        <div class="form-group">
          <label for="edituserForm" class="form-control-label"> Current Password <span class="asteriskcolor">*</span></label>
          <input name="currentpassword" type="password" class="form-control" placeholder="Current Password"
          ng-required="vm.isuser" ng-model="vm.user.password" />
          <p class="help-block" ng-if="(edituserForm.currentpassword.$dirty || edituserForm.currentpassword.$touched) && edituserForm.currentpassword.$error.required">
            <i><b>Current Password</b></i> is required.
          </p>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="edituserForm" class="form-control-label"> New Password <span class="asteriskcolor">*</span></label>
          <input name="newpassword" type="password" class="form-control" placeholder="New Password" ng-minlength="2" ng-maxlength="50"
          ng-required="true" ng-model="vm.user.password" />
          <p class="help-block" ng-if="edituserForm.newpassword.$dirty && edituserForm.newpassword.$error.minlength">
            <i><b>New Password</b></i> should be at least 2 characters long.
          </p>
          <p class="help-block" ng-if="edituserForm.newpassword.$dirty && edituserForm.newpassword.$error.maxlength">
            <i><b>New Password</b></i> should not be more than 50 characters long.
          </p>
          <p class="help-block" ng-if="(edituserForm.newpassword.$dirty || edituserForm.newpassword.$touched) && edituserForm.newpassword.$error.required">
            <i><b>New Password</b></i> is required.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="edituserForm" class="form-control-label"> Confirm New Password <span class="asteriskcolor">*</span></label>
          <input name="confirmnewpassword" type="password" class="form-control" placeholder="Confirm new Password" ng-minlength="2" ng-maxlength="50"
          ng-required="true" ng-model="vm.user.confirmPassword" confirmpassword-validation passwords="{{vm.user.password}}" />
          <p class="help-block" ng-if="edituserForm.confirmnewpassword.$dirty && edituserForm.confirmnewpassword.$error.noMatch &&edituserForm.newpassword.$dirty &&!edituserForm.confirmnewpassword.$error.required">
            <i><b>Confirm new Password</b></i> should be match with new password.
          </p>
          <p class="help-block" ng-if="(edituserForm.confirmnewpassword.$dirty || edituserForm.confirmnewpassword.$touched) && edituserForm.confirmnewpassword.$error.required">
            <i><b>Confirm New Password</b></i> is required.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-success" ng-click="vm.save(edituserForm)">
          Save
        </button>
        <a class="btn btn-danger" back>Cancel</a>
      </div>
      <br />
      <br>
      <br>
    </form>
  </div>
